
<style>
    .c-item {
        height: 480px;
    }

    .c-img {
        height: 100%;
        object-fit: cover;
        filter: brightness(0.6);
    }
</style>

<!--Carrusel de bootstrap para colocar las imagenes de los equipos-->

<div id="teams-carousel" class="carousel slide" data-bs-ride="carousel">

    <div class="carousel-inner">
        <div class="carousel-item active c-item">
            <img src="~/Imagenes/Barcelona.jpeg" class="d-block w-100 c-img" alt="Slide 1">
            <div class="carousel-caption top-0 mt-4">
                <p class="mt-5 fs-3 text-uppercase">Descubre a los mejores equipos</p>
                <h1 class="display-1 fw-bolder text-capitalize">BARCELONA</h1>
                <button class="btn btn-primary px-4 py-2 fs-5 mt-5">Book a tour</button>
            </div>
        </div>

    </div>

    <div class="carousel-item c-item">
        <img src="~/Imagenes/Emelec.jpeg" class="d-block w-100 c-img" alt="Slide 2">
        <div class="carousel-caption top-0 mt-4">
            <p class="text-uppercase fs-3 mt-5">Descubre a los mejores equipos</p>
            <p class="display-1 fw-bolder text-capitalize">EMELEC</p>
            <button class="btn btn-primary px-4 py-2 fs-5 mt-5" data-bs-toggle="modal"
                    data-bs-target="#booking-modal">
                Book a tour
            </button>
        </div>
    </div>

    <div class="carousel-item c-item">
        <img src="~/Imagenes/Liga.jpeg" class="d-block w-100 c-img" alt="Slide 3">
        <div class="carousel-caption top-0 mt-4">
            <p class="text-uppercase fs-3 mt-5">Descubre a los mejores equipos</p>
            <p class="display-1 fw-bolder text-capitalize">LIGA</p>
            <button class="btn btn-primary px-4 py-2 fs-5 mt-5" data-bs-toggle="modal"
                    data-bs-target="#booking-modal">
                Book a tour
            </button>
        </div>
    </div>

    <div class="carousel-item c-item">
        <img src="~/Imagenes/Nacional.jpeg" class="d-block w-100 c-img" alt="Slide 4">
        <div class="carousel-caption top-0 mt-4">
            <p class="text-uppercase fs-3 mt-5">Descubre a los mejores equipos</p>
            <p class="display-1 fw-bolder text-capitalize">NACIONAL</p>
            <button class="btn btn-primary px-4 py-2 fs-5 mt-5" data-bs-toggle="modal"
                    data-bs-target="#booking-modal">
                Book a tour
            </button>
        </div>
    </div>
</div>
<button class="carousel-control-prev" type="button" data-bs-target="#teams-carousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
</button>
<button class="carousel-control-next" type="button" data-bs-target="#teams-carousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
</button>
